node_modules/
*.log
.DS_Store

# pkg binary outputs
parse-abap
abapgen-linux-x64
abapgen-linux-arm64
abapgen-macos-x64
abapgen-macos-arm64
abapgen-win-x64.exe

# CI-renamed + gzexe backups
abapgen-linux
abapgen-linux-arm
abapgen-macos
abapgen-macos-arm
abapgen-win.exe
abapgen-linux~
abapgen-linux-arm~
abapgen-macos~
abapgen-macos-arm~

# editor/IDE
.idea/
.vscode/
